.analog-clock{margin: auto;}
.clock-container{border-radius: 50%;background: #fff;margin: auto;}
.clock-dial{width: 100%;height: 100%;border-radius: 50%;background: #fff;position: relative;margin: 0;}
.clock-dial>span{width: 2%;height: 48%;display: block;position: absolute;left: 49%;top: 2%;}
.clock-dial>div{z-index: 2;}
.center{width: 8%;height: 8%;border-radius: 50%;position: absolute;top: 46%;left: 46%;}
.seconds{width: 0.5%;height: 45%;position: absolute;top: 5%;left: 49%;}
.minutes{width: 2%;height: 40%;position: absolute;top: 10%;left: 49%;}
.hours{width: 4%;height: 30%;position: absolute;top: 20%;left: 48%;}
.overlay{width: 90%;height: 90%;background: #fff;border-radius: 50%;z-index: 1;position: absolute;left: 5%;top: 5%;}
